node_modules
target
dist
build
.vscode

/RemoteSystemsTempFiles
/.recommenders/
bin
test-classes
src-api-classes
WEB-INF/classes/
/.metadata
*.code-workspace
*.js.map
*.css.map

# IntelliJ settings
/IJ-settings/.idea/shelf/
/IJ-settings/.idea/workspace.xml
/IJ-settings/.idea/uiDesigner.xml
/IJ-settings/.idea/dataSources/
/IJ-settings/.idea/dataSources.local.xml
/IJ-settings/.idea/httpRequests/
/IJ-settings/.idea/sonarlint/
/IJ-settings/.idea/dbnavigator.xml

/IJ-settings/server_config
